<div class="nav__holder">
    <nav class="nav">
        <ul class="nav__list">

            {{ range .Site.Menus.main }}
                <li class="nav__item">
                    <a href="#">
                        Blog 2
                    </a>
                </li>
            {{ end }}

            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}

                    <li class="nav__item nav__item--dropdown">
                        <a href="#" class="nav__link">
                            {{ .Name }}
                            Blog 1
                        </a>
                    </li>
                    <nav class="subnav">
                        <ul class="subnav__list">

                            {{ range .Children }}

                                <li class="subnav__item"><a href="{{ .URL }}" class="subnav__link">{{ .Name }}</a></li>

                            {{ end }}

                        </ul>
                    </nav>
                {{ else }}
                    <li class="nav__item">
                        <a href="{{ .URL }}">
                            {{ .Name }}
                            Blog 2
                        </a>
                    </li>
                {{ end }}
            {{ end }}

            <!-- <li class="nav__item nav__item--dropdown">
                <a href="#" class="nav__link">Why Chartio</a>
                <nav class="subnav">
                    <ul class="subnav__list">
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Sources</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Visual SQL</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Sharing</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Stack</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Advisors</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Security</a></li>
                    </ul>
                </nav>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
            <li class="nav__item nav__item--dropdown">
                <a href="#" class="nav__link">Customers</a>
                <nav class="subnav">
                    <ul class="subnav__list">
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Sources</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Visual SQL</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Sharing</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Stack</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Advisors</a></li>
                        <li class="subnav__item"><a href="#" class="subnav__link">Security</a></li>
                    </ul>
                </nav>
            </li>
            <li class="nav__item nav__item--dropdown">
                <a href="#" class="nav__link">Blog</a>
                <nav class="subnav">
                    <ul class="subnav__list">
                        <li class="subnav__item"><a href="#" class="subnav__link">Data Sources</a></li>
                    </ul>
                </nav>
            </li> -->
        </ul>
    </nav>
</div>
