<!-- Set footer data to variable -->
{{ $footer :=  .Site.Data.footer.footer }}

<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <a href="#" class="logo logo--footer"><img src="{{ $footer.logo }}" alt="Chartio"> </a>
            <div class="cols5">

                <!-- Footer Nav -->
                {{ partial "footer/footer-nav" $footer }}

            </div>
        </div>
    </div>
    <div class="footer-btns">

        {{ range first 3 $footer.footer_btns }}

            <a href="{{ .link }}" class="footer-btn">{{ .title }}</a>

        {{ end }}

    </div>
    <div class="footer-bottom">
        <div class="container">

            <!-- Copyright -->
            <p class="copyright">

                {{ .Site.Copyright | safeHTML }}

            </p>

            <!-- Policy Links -->
            <div class="policy-links">

                {{ range $footer.policy_links }}

                    <a href="{{ .link }}" class="policy-link">{{ .title }}</a>

                {{ end }}

            </div>

            <!-- Social Links -->
            <div class="social-links">

                {{ range $footer.social_links }}

                    <a href="{{ .link }}" class="social-link" title="{{ .title }}"><i class="{{ .icon }}" aria-hidden="true"></i></a>

                {{ end }}

            </div>
        </div>
    </div>
</footer>
