<!-- Set footer data to variable -->
{{ $footer :=  .Site.Data.footer.footer }}

<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <a href="#" class="logo logo--footer"><img src="{{ $footer.logo }}" alt="Chartio"> </a>
            <div class="cols5">

                <!-- Footer Nav -->
                {{ partial "footer/footer-nav" $footer }}

            </div>
        </div>
    </div>
    <div class="footer-btns">
        <a href="#" class="footer-btn">222 Kearny St #525 SF, CA 94108</a>
        <a href="#" class="footer-btn">HELLO@CHARTIO.COM</a>
        <a href="#" class="footer-btn">GET A DEMO</a>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="copyright">
                {{ .Site.Copyright | safeHTML }}
            </p>
            <div class="policy-links">
                <a href="#" class="policy-link">Terms of Service</a>
                <a href="#" class="policy-link">Privacy Policy</a>
            </div>
            <div class="social-links">
                <a href="#" class="social-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#" class="social-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="social-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="social-link"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
