<div class="nav__holder">
    <nav class="nav">
        <ul class="nav__list">

            {{ range .main_nav }}
                {{ if .main_subnav }}

                    <li class="nav__item nav__item--dropdown">
                        <a href="#" class="nav__link">{{ .title }}</a>

                        <nav class="subnav">
                            <ul class="subnav__list">

                                {{ range .main_subnav }}

                                    <li class="subnav__item"><a href="{{ .link }}" class="subnav__link">{{ .title }}</a></li>

                                {{ end }}

                            </ul>
                        </nav>
                    </li>

                {{ else }}

                    <li class="nav__item">
                        <a href="{{ .link }}" class="nav__link">{{ .title }}</a>
                    </li>

                {{ end }}
            {{ end }}

        </ul>
    </nav>
</div>
