<div class="nav__holder">
    <nav class="nav">
        <ul class="nav__list">


            <!-- Get menu items from config file -->
            {{/*
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}

                        <li class="nav__item nav__item--dropdown">
                            <a href="#" class="nav__link">{{ .Name }}</a>

                            <nav class="subnav">
                                <ul class="subnav__list">

                                    {{ range .Children }}

                                        <li class="subnav__item"><a href="{{ .URL }}" class="subnav__link">{{ .Name }}</a></li>

                                    {{ end }}

                                </ul>
                            </nav>
                        </li>

                    {{ else }}

                        <li class="nav__item">
                            <a href="{{ .URL }}" class="nav__link">{{ .Name }}</a>
                        </li>

                    {{ end }}
                {{ end }}
            */}}
            <!-- /Get menu items from config file -->
        </ul>
    </nav>
</div>
