<div class="page-section what-we-do">
    <div class="container">
        <h2 class="page-section__title">{{.title}}</h2>
        <div class="what-we-do__description">
            {{.description}}
        </div>
        <!-- <div class="what-we-do__image">
            <img class="what-we-do__image-element" src="{{ .image }}" alt="{{ .image_title }}">
            <div class="what-we-do__image-caption">
                <strong>{{ .author_name }}</strong>
                <span>{{ .author_position }}</span>
            </div>
        </div> -->
    </div>
</div>
