<div class="page-section what-we-do">
    <div class="container">
        <h2 class="page-section__title">{{.title}}</h2>
        <div class="what-we-do__description">
            {{.body | markdownify }}
        </div>
        <div class="what-we-do__image">
            <img class="what-we-do__image-element" src="{{ .image }}" alt="{{ .name }}">
            <div class="what-we-do__image-caption">
                <strong>{{ .name }}</strong>
                <span>{{ .position }}</span>
            </div>
        </div>
    </div>
</div>
